body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00aaff;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e60000;
}

.small-text {
    font-size: 10px;
    margin-top: 10px;
}

p {
    margin: 5px 0;
}

a {
    color: #ff0000;
    text-decoration: none;
}

.alert{
    width: 100%;
    background : rgb(0, 128, 0);
    padding: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;

}